<p>
    <title>Report Definition Editor Output</title>
</p>
<h2>ND Counties Report Designer</h2>
<p>
    Use the report designer to create reports in a WYSIWYG manner. Any content that appears outside of the table will not appear in the final report. The following rules apply to all designed reports:
</p>
<ul>
    <li>There can only be <strong>one</strong> report table per table design, including tables within HTML comments;</li>
    <li>Do not assume CSS class style names;</li>
    <li>Use <strong>THEAD</strong>, <strong>TBODY</strong>, and <strong>TFOOT</strong> organizational elements when structuring the HTML table. The report parser will automatically remove <strong>TFOOT</strong> for you.</li>
</ul>
<table>
    <!--BEGIN: Table header -->
    <thead>
    <tr>
        <th>
            First Column
        </th>
        <th>
            Second Column
        </th>
    </tr>
    </thead>
    <!--END: Table header -->
    <!--BEGIN: Table body -->
    <tbody>
    <tr>
        <td>
            First Column
        </td>
        <td>
            Second Column
        </td>
    </tr>
    </tbody>
    <!--END: Table body -->
    <!--BEGIN: Table footer -->
    <tfoot>
    <tr>
        <th>
            First Column
        </th>
        <th>
            Second Column
        </th>
    </tr>
    </tfoot>
    <!--END: Table footer -->
</table>